<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{{new.title}}</title>
<link type="text/css" rel="stylesheet" href="../static/css/plist.css">
<script>

</script>
</head>

<body>
    <div class="Ttitle">
        <h1>欢迎使用</h1>

    <div class="nav">
        <ul>
        <li><a href="/plist/">回到首页</a></li>
        <li><a href="/classify_admin/">分类管理</a></li>
	    <li><a href="/team_admin/">部门管理</a></li>
	    <li><a href="/announ_admin/">公告管理</a></li>
	    <li><a href="/project_admin/">项目管理</a></li>
	    <li><a href="/view_file/">查看素材</a></li>
	    <li><a href="/use_help/">使用帮助</a></li>
 	</ul>
    </div>
<div class="content">
    <h2>公司简介</h2>
    <p>创新工场（英文Innovation Works）由李开复博士创办于2009年9月，是一家致力于早期阶段投资，
        并提供全方位创业培育的投资机构。创新工场是一个全方位的创业平台，旨在培育创新人才和新一代高科
        技企业。创新工场通过针对早期创业者需求的资金、商业、技术、市场、人力、法律、培训等提供一揽子
        服务， 帮助早期阶段的创业公司顺利启动和快速成长。同时帮助创业者开创出一批最有市场价值和商业潜
        力的产品。创新工场的投资方向将立足信息产业最热门领域：移动互联网、消费互联网、电子商务和云计算。
        旨在培育创新人才和新一代高科技企业。创新工场通过针对早期创业者需求的资金、商业、技术、市场、人力、法律、培训等提供一揽子服务。创新工场的投资方向将立足信息产业最热门领域：移动互联网、消费互联网、电子商务和云计算。
        创始人李开复

创新工场无论在公司规模、孵化项目数、聚集精英人才数，还是募集资金、知识产权申请等参数，都已大大超出创新工场建立时的预期。截至2011年7月，创新工场已审阅了超过2500个项目，投资孵化了39个项目和公司，总投资额超过2.5亿人民币。预计到2011年底，创新工场投资的企业价值将超过50亿人民币。
创新工场投资牵头者为刘宇环先生创立的中经合集团，投资者还包括财富100强企业、知名创投和中美精英人士，其中有郭台铭领导的富士康科技集团、柳传志领导的联想控股有限公司、俞敏洪领导的新东方教育科技集团、YouTube创始人陈士骏等。同时也得到了来自硅谷银行、中华电信、联发科以及美国、欧洲、亚洲等多位顶尖投资者的鼎力相助。在这些已经是成功传奇的明星创业者中，很多人表示愿意共同辅导青年创业者，他们的加入使创新工场如虎添翼，他们的参与将使创业精神在一批批创业者中薪火相传。
创新工场以及投资的项目团队中聚集了一批行业精英：既不乏来自本土知名企业的专业人士和有过多次创业实践的本土创业者；又有来自硅谷的资深技术人才、以及著名跨国科技公司的业内高手。各个创业团队除了已经吸引到国内高校计算机系的优秀毕业生加盟，也有多位来自斯坦福大学、哈佛大学、耶鲁大学、牛津大学、加州大学伯克利分校、麻省理工学院、芝加哥大学等不同专业的杰出校友。创新工场已成为热衷科技创新的青年创业者的摇篮。
地理位置




    </p>
</div>
    <div>
        {% include "footer.html" %}
    </div>
    </div>
</body>
</html>
